@import url("https://use.typekit.net/mkk8dya.css");
@import "../pages/Home/home";
@import "../pages/Results/results";
@import "../components/Modal/ModalIndex//modal-index";
@import "../components/Modal/ModalCloseButton/modal-close-button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'source-sans-pro', serif; //All working
  background-color: rgb(57, 57, 57);
}